.introduction {
   background: lightcyan;
   font-display: times;
   font-size: 15px;
   padding-left: 10px;
   padding-right: auto; 
   padding-top: 15px;  
   text-align: left;
   font-family: cursive;
   font-style: oblique;
}
.Info{
    text-align: center;
    text-decoration: black;
    font-style: oblique;
    animation-name: example;
    animation-duration: 20s;
    font-size: 20px;
}
.bulletpoints{
    background: lightyellow;
    font-display: inherit;
    font-size: 15px;
    padding-left: 10px;
    padding-right: auto; 
    padding-top: 15px;  
    text-align: left;
    font-style: oblique;
    font-size: 15px;
}

@keyframes example {
    from {background-color:green;}
    to {background-color:white;}
    to{background-color:red;}
}

@keyframes example1 {
    from {background-color:rgb(192, 202, 192);}
    to {background-color:white;}
    
}
b{
    animation-name: example1;
    animation-duration: 20s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes namebounce {
    from {background-color:rgb(192, 202, 192);}
    to {background-color:red;}        
}

.Quickplay{
    animation-name: namebounce;
    animation-direction: 1s;
}

.contact{
    nav-down: auto;
}
.ShivamImage{
 opacity: 0.5;
 width: 100px;
 float: left;
 margin-right:5px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1px;
    background-color: lightblue;
    padding: 5px;
  }
  
  .grid-container > div {
    background-color: lightblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
 
.line {fill:none; stroke:black;stroke-width: 1.5;}
.line-0 {fill:none; stroke:#1f77b4;stroke-width: 1.5;stroke-dasharray:4,10;}
.line-1 {fill:none; stroke:#ff7f0e;stroke-width: 1.5;stroke-dasharray:2,5.10;}
.line-2 {fill:none; stroke:#2ca02c;stroke-width: 1.5;}
.line-3 {fill:none; stroke:#d62728;stroke-width: 1.5;}
.line-4 {fill:none; stroke:#9467bd;stroke-width: 1.5;}
.line-5 {fill:none; stroke:#8c564b;stroke-width: 1.5;}
.line-6 {fill:none; stroke:#e377c2;stroke-width: 1.5;}
.line-7 {fill:none; stroke:#7f7f7f;stroke-width: 1.5;}
.line-8 {fill:none; stroke:#bcbd22;stroke-width: 1.5;}
.line-9 {fill:none; stroke:b#17becf;stroke-width: 1.5;}
 
.bar { fill:#aaa; stroke:white;stroke-width: 1;}
.bar-value { fill:black;font-size: 8pt;}
.name { font-size: 10pt;text-anchor: middle}
path {fill:white;stroke:black;stroke-width:0.5;}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
}
.axis_x line {
    fill: none;
    stroke: black;
}
.chart-title { fill:red;font-size: 18pt;text-anchor: middle;}
.histogram-bar{fill:blue; stroke:white;stroke-width: 1;}
.axis-x-text{ fill:blue;font-size: 12pt;}
.treemap { stroke:black;fill:#777}		
.treemap-label { font-size: 10pt;text-anchor: middle}
.packlayout{ stroke:red;}
.packlayout-label{ font-size: 8pt;text-anchor: middle; animation:namebounce }
.pie-inner-title {font-size:9pt;text-anchor:middle;}
.pieNum {font-size:10pt;text-anchor:middle;}
.grid {stroke:gray;stroke-dasharray: 4,2;shape-rendering:crispEdges}
 
.tree-node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
.tree-node text { 
    font: 12px sans-serif; 
}
.tree-node-internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
.tree-node-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.force-links line {
stroke: #999;
stroke-opacity: 0.6;
}
 
.force-nodes circle {
stroke: #fff;
stroke-width: 1.5px;
}