<div class="container">
    <h1>Add Content</h1>
    <form #addDataForm="ngForm">
      <div class="form-group">
        <label for="topic">Topic</label>
        <input type="text" id="topic" placeholder="topic" class="form-control" [(ngModel)]="topic" name="taskName"
          required>
      </div>
  
      <div class="form-group">
        <label for="question">Question</label>
        <input type="text" placeholder="question" class="form-control" [(ngModel)]="question" name="question">
      </div>
  
      <div class="form-group">
        <label for="answer"> answer </label><br>
        <textarea rows="4" cols="50" [(ngModel)]="answer" name="answer" class="form-comments" placeholder=" Please provide more detail ...">
           Please provide more detail ...
            </textarea>
      </div>
      <div class="form-group">
        <label for="demo"> demo </label><br>
        <textarea rows="4" cols="50" [(ngModel)]="demo" name="demo" class="form-comments" placeholder=" Please provide more detail ...">
           Please provide more detail ...
            </textarea>
      </div>
      <button type="submit" (click)="addTutorial()" class="btn btn-success">Submit</button>
    </form>
  </div>
  
  